<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carbon Footprint Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2 id="logo">CARBON TRACKER</h2>
        
            <ul>
                <li><a href="#" class="active">Dashboard</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Production Data</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Help/Support</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="dashboard-header">
                <h1>Carbon Footprint Dashboard - XYZ Talc</h1>
                <p>Analyze your company's energy consumption and carbon emissions</p>
                <input id="button_april" value="April" name="month" type="radio">April</input>
                <input id="button_may" value="May" name="month" type="radio">May</input>
                <input id="button_june" value="June" name="month" type="radio">June</input>
                <input id="button_july" value="July" name="month" type="radio">July</input>
            </div>
            <div class="metrics">
                <div class="metric-card">
                    <h2>Total Emissions</h2>
                    <p>{{ emissions.totalEmissions|round(2) }} kg CO<sub>2</sub></p>
                </div>
                <div class="metric-card">
                    <h2>Total Emissions for Plant</h2>
                    <p>{{ emissions.totalEmissions_plant|round(2) }} kg CO<sub>2</sub></p>
                </div>
                <div class="metric-card">
                    <h2>Total Emissions for Mine</h2>
                    <p>{{ emissions.totalEmissions_mine|round(2) }} kg CO<sub>2</sub></p>
                </div>
            </div>
            <div class="chart-container">
                <h2 id="chartHeading">Monthly Emissions</h2>
                <canvas id="emissionsChart"></canvas>
            </div>
            <!-- Additional sections can go here -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('emissionsChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: [ 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Mine (kg CO2)',
                    data: [453541.18, 481505.64, 501247.14, 388329.04] ,
                    borderWidth: 5
                },
                {
                    label: 'Plant (kg CO2)',
                    data: [ 216526.74, 236814.36, 230356.86, 197150.96],
                    borderWidth: 5
                }
            ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>